name: "Project Bedrock - Official Release Deployment"

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: "Deploy Official Release"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Update Kubeconfig
        run: aws eks update-kubeconfig --region us-east-1 --name project-bedrock-cluster

      - name: Deploy Official Retail App Manifest
        
        run: |
          kubectl apply -f https://github.com/aws-containers/retail-store-sample-app/releases/latest/download/kubernetes.yaml --validate=false
          
          kubectl apply -f ui-service-fix.yaml
      - name: Verify Deployment
        run: |
          kubectl get nodes
          kubectl get pods -A
          kubectl get svc -A